<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goodgun profile</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,800;0,900;1,200;1,400;1,500;1,600;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="frame">
        <nav class="navigator">
            <h3 class="site-name">Good Gun Profile</h3>
        </nav>
        <div class="profile-section">
            <img id="profile-picture" src="https://velog.velcdn.com/images/rianbowgift/post/f4ff559d-6f8a-4e75-88c1-032925699406/image.jpg">
            <div class="introduction">
                <h2>ABOUT ME</h2>
                <p>"    이름 : 조은총 "<br> "  별명 : Good Gun "<br>"   Like : 여행, 스포츠관람 "<br>"   취미 : 축구,헬스,수영,등산 "<br>    " 종교 : 기독교 "<br>   " 깻잎 논쟁 : 떼어주기 가능 "<br>  " dislike : 내로남불 "</p>
            </div>
        </div>
        <h5 class="value-menu">MY VALUES</h5>
        <div class="value-section">
            <div class="value">
                <img class="value-icon" src="https://velog.velcdn.com/images/rianbowgift/post/79755359-875a-452e-9f1b-01f2224f7e05/image.jpg">
                <div class="value-intro">
                    <h4 class="value-name">MBTI</h4>
                    <p class="value-exp">계획세우는걸 좋아하며 계획이 어긋나거나 궤도를 이탈하는 걸 싫어한다. 호불호가 명확하여 좋으면 최대한 싫으면 확실하게 선을 긋는다.</p>
                </div>
            </div>
           <div class="value">
                <img class="value-icon" src="https://velog.velcdn.com/images/rianbowgift/post/35f01146-7781-4ce9-9cc8-2948d21bc819/image.jpg">
                <div class="value-intro">
                    <h4 class="value-name">STRENGTH</h4>
                    <p class="value-exp">상대방의 말을 잘 경청한다. 둥글둥글한 성격으로 어떤 사람하고든 친해질 수 있다. 같이 노는 사람을 즐겁게 해줄 수 있다. </p>
                </div>
            </div>
            <div class="value">
                <img class="value-icon" src="https://velog.velcdn.com/images/rianbowgift/post/c2064af5-6d69-4acc-9728-04f1fd9bced2/image.png">
                <div class="value-intro">
                    <h4 class="value-name">My Style</h4>
                    <p class="value-exp">수동적으로 지시 받은 것만 하는게 아닌 능동적으로 일을 찾아서 하는 편이다. 나의 의견을 고집하지 않고 팀의 의견을 존중 할 줄 안다. </p>
                </div>
            </div>
        </div>
        <footer class="footer">
            <h3 class="contact">CONTACT ME</h3>
            <div class="links">
                <a class="blog" href="https://goodisgun.tistory.com/">T-STORY</a>
                <a class="instagram" href="https://www.instagram.com/goodgun_/">INSTAGRAM</a>
                <a href="/index">home</a>
            </div>
        </footer>

</body>
</html>